<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title> GRANJA SA</title>
  </head>
  <body>
    <header>
        include<%- include('barraNav'); %>
    </header>
    <div class="Formulario">
      <div class="container">
          <div class="shadow-lg pb-3 mb-5 bg-body rounded">
              <h4> Datos del Porcino</h4>
              <form action="/crear" method="POST">
                <center>
                <div class="col-md-6">
                    <label for="id_porcino" class="form-label" >ID</label>
                    <input id="id_porcino" name="id_porcino" type="number" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="raza_por" class="form-label" >Raza</label>
                    <select name="raza_por" id="raza_por" class="form-select" aria-label="Raza">
                        <option value="Null">--Selecione Raza--</option>
                        <option value="York">York</option>
                        <option value="Hamp">Hamp</option>
                        <option value="Duroc">Duroc</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="edad_por" class="form-label" >Edad</label>
                    <input id="edad_por" name="edad_por" type="number" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label for="peso_por" class="form-label" >Peso</label>
                    <input id="peso_por" name="peso_por" type="number" class="form-control" required>
                </div>
                <div class="col-md-6">
                  <label for="alim_por" class="form-label" >Alimentacion</label>
                  <select name="alim_por" id="alim_por" class="form-select" aria-label="Alimentos">
                    <option value="Null">--Seleciones Alimento--</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="cli_por" class="form-label" >Cliente</label>
                <select name="cli_por" id="cli_por" class="form-select" aria-label="Clientes">
                    <option value="Null">--Seleciones Cliente--</option>
                    <% porcinos.forEach((porcinosCliente) => { %>
                        <option value="<%= porcinosCliente.cedula %>"><%= porcinosCliente.cedula %></option>
                      <% }); %>
                  </select>
            </div>
        </center>
            </div>
                <button type="submit" class="w-100 btn btn-guardar btn-lg"> <i class="bi bi-save"></i>Registrar Porcino</button>
              </form>
         </div>
         <div class="container">
              <table id="tablaPorcinos" class="table mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Raza</th>
                        <th>Edad</th>
                        <th>Peso</th>
                        <th>Alimentacion</th>
                        <th>Cliente</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
      </div>

<!-- ventana modal -->
<div id="modalPorcino" class="modal fade" tabindex="-1" aria-labelledby="modalPorcino" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Editar informacion porcino</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/editarCliente" method="POST">
                    <div class="mb-3">
                        <label for="raza_por_editar" class="col-form-label">Raza:</label>
                        <input id="raza_por_editar" name="raza_por_editar" type="text" class="form-control" value="">
                    </div>
                    <div>
                        <label for="edad_por_editar" class="col-form-label">Edad:</label>
                        <input id="edad_por_editar" name="edad_por_editar" type="text" class="form-control" value="">
                    </div>
                    <div>
                        <label for="peso_por_editar" class="col-form-label">Peso:</label>
                        <input id="peso_por_editar" name="peso_por_editar" type="text" class="form-control" value="">
                    </div>
                    <div>
                        <label for="alim_por_editar" class="col-form-label">Alimento:</label>
                        <input id="tel_editar" name="tel_editar" type="text" class="form-control" value="">
                    </div>
                    <div>
                      <label for="cliente_por_editar" class="col-form-label">Cliente:</label>
                      <input id="cliente_por_editar" name="cliente_por_editar" type="text" class="form-control" value="">
                  </div>
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
          </form>
        </div>
    </div>
</div>

  </body>
</html>
